.App {
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto auto 1fr;
}

.container {
  max-width: 1140px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-color: #34a0a4;
  color: white;
  padding: 20px 0;
}

.header__content {
  text-align: center;
}

.header__title {
  font-size: 32px;
}

.welcome {
  text-align: center;
  margin-top: 25px;
  color: #023047;
}

.welcome h2 {
  font-size: 32px;
  margin-bottom: 10px;
}

.welcome div {
  font-size: 24px;
  max-width: 450px;
  margin: 0 auto;
}